*, *:before, *:after {
    box-sizing: inherit;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navBar{
  text-decoration: none;
  float: right;
  padding-left: 10px;
}

.navBar li{
  display:inline-block;
  text-decoration: none;
  padding: 20px;

}

.navLogo{
  max-width: 10%;
  padding: 10px;
  margin-top: 15px;
  float: left;
}

.navButton{
    background: #0d97ff;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-family: "CalibreSemibold", helvetica, sans-serif;
    letter-spacing: 0.5px;
    max-height: 40px;
    line-height: 40px;
    padding: 10px, 25px;
    text-transform: capitalize;
    
}

.welcomeHome{
  background-color: rgb(252, 239, 229);
  color: rgb(51, 62, 72);
  text-align: center;
  width: 90%;
  height:350px;
  line-height: 25px;
  font-family: helvetica;
}

.welcomeHome p{
  max-width: 500px;
  padding-left: 400px;
 
}

.dash-trailing:after {
    background: #0d97ff;
    display: block;
    content: '';
    height: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 40px;
   margin-left: 650px;
}




