.Home {
  margin: 15vh 0px;
}
.backpack {
  width: 100%;
}
.welcomeHome{
  background-color: rgb(252, 239, 229);
  color: rgb(51, 62, 72);
  text-align: center;
  width: 90%;
  height:350px;
  line-height: 25px;
  font-family: helvetica;
}

.welcomeHome p{
  max-width: 500px;
  padding-left: 400px;
 
}

.dash-trailing:after {
    background: #0d97ff;
    display: block;
    content: '';
    height: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 40px;
   margin-left: 650px;
}